<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

    <add 
      name="eGymDB" 
      connectionString="Data Source=cantaros.no-ip.info;Initial Catalog=eGymDB;Integrated Security=False;User ID=Cantaros;Password=cantaros123" 
      providerName="System.Data.SqlClient" />
    <!--<add name="eGymDB" connectionString="Data Source=(local);Initial Catalog=eGymDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>