<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>

  </system.web>
  <system.serviceModel>
    <services>


      <service name="ServicioEnClases.ServicioProyecto">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioProyectoAspNetAjaxBehavior" binding="webHttpBinding"
                  contract="ServicioEnClases.ServicioProyecto" />
      </service>

      <service name="ServicioEnClases.ServicioUsuario">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioUsuarioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioUsuario" />
      </service>
      <service name="ServicioEnClases.ServicioTipoPago">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioTipoPagoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioTipoPago" />
      </service>
      <!--<service name="ServicioEnClases.ServicioPago">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioPagoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioPago" />
      </service>-->
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServicioEnClases.ServicioProyectoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioUsuarioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioTipoPagoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServivioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioPagoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--<webHttpBinding>
    <binding
      maxBufferPoolSize="2147483647"
      maxReceivedMessageSize="2147483647"
      maxBufferSize="2147483647" transferMode="Streamed">
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
    </binding>
  </webHttpBinding>-->
  <!--<bindings>
    <basicHttpBinding>
      <binding maxReceivedMessageSize="10485760">
        
      </binding>
    </basicHttpBinding>
  </bindings>-->
  <!--<bindings>
    <webHttpBinding>
      <binding
        maxBufferPoolSize="2147483647"
        maxReceivedMessageSize="2147483647"
        maxBufferSize="2147483647" transferMode="Streamed">
      </binding>
    </webHttpBinding>
  </bindings>-->
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <!--<directoryBrowse enabled="true" />-->
  </system.webServer>

  <!--<connectionStrings>
    <add name="eGymDB" connectionString="Data Source=cantaros.no-ip.info;Initial Catalog=eGymDB;Integrated Security=False;User ID=Cantaros;Password=cantaros123" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ServicioEnClases-20150403211836;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ServicioEnClases-20150403211836.mdf" />
  </connectionStrings>-->
  <connectionStrings>

    <add name="eGymDB" connectionString="Data Source=localhost;Initial Catalog=eGymDB;User Id=egym;Password=123;"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
