<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServicioEnClases.ServicioProyecto">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioProyectoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioProyecto" />
      </service>
      <service name="ServicioEnClases.ServicioUsuario">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioUsuarioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioUsuario" />
      </service>
      <service name="ServicioEnClases.ServicioTipoPago">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioTipoPagoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioTipoPago" />
      </service>
      <service name="ServicioEnClases.Servivio">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServivioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.Servivio" />
      </service>
      <service name="ServicioEnClases.ServicioPago">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioPagoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioPago" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServicioEnClases.ServicioProyectoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioUsuarioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioTipoPagoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServivioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioPagoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
  <connectionStrings>

    <add name="eGymDB" connectionString="Data Source=(local);Initial Catalog=eGymDB;Integrated Security=True"
    providerName="System.Data.SqlClient" />


  </connectionStrings>

</configuration>
