<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="ServicioEnClases.ServicioProyecto">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioProyectoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioProyecto" />
      </service>
      <service name="ServicioEnClases.ServicioUsuario">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioUsuarioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioUsuario" />
      </service>
      <service name="ServicioEnClases.ServicioTipoPago">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioTipoPagoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioTipoPago" />
      </service>
      <service name="ServicioEnClases.ServicioPago">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioPagoAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioPago" />
      </service>
      <service name="ServicioEnClases.ServicioRol">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioRolAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioRol" />
      </service>
      <service name="ServicioEnClases.ServicioPermisos">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioPermisosAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioPermisos" />
      </service>
      <service name="ServicioEnClases.ServicioEjercicio">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioEjercicioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioEjercicio" />
      </service>
      <service name="ServicioEnClases.ServiciosTiposDeMaquinas">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServiciosTiposDeMaquinasAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServiciosTiposDeMaquinas" />
      </service>
      <service name="ServicioEnClases.ServiciosMaquinas">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServiciosMaquinasAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServiciosMaquinas" />
      </service>
      <service name="ServicioEnClases.ServicioFichasDeMedicion">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioFichasDeMedicionAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioFichasDeMedicion" />
      </service>
      <service name="ServicioEnClases.ServicioSesion">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioSesionAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioSesion" />
      </service>
      <service name="ServicioEnClases.ServicioGimnasio">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioGimnasioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioGimnasio" />
      </service>
      <service name="ServicioEnClases.Prueba">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.PruebaAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.Prueba" />
      </service>
      <service name="ServicioEnClases.ServicioFormulas">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioFormulasAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioFormulas" />
      </service>
      <service name="ServicioEnClases.ServicioEventoCalendario">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.ServicioEventoCalendarioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.ServicioEventoCalendario" />
      </service>
      <service name="ServicioEnClases.Calendario">
        <endpoint address="" behaviorConfiguration="ServicioEnClases.CalendarioAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ServicioEnClases.Calendario" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServicioEnClases.ServicioProyectoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioUsuarioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioTipoPagoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServivioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioPagoAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioRolAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioPermisosAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioEjercicioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServiciosTiposDeMaquinasAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServiciosMaquinasAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioFichasDeMedicionAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioSesionAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.PruebaAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioGimnasioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioFormulasAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.ServicioEventoCalendarioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ServicioEnClases.CalendarioAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="ServicioLogin.svc" service="ServicioEnClases.ServicioLogin"
          factory="System.ServiceModel.Activation.WebServiceHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <connectionStrings>
    <!--<add name="eGymDB" connectionString="Data Source=cantaros.no-ip.info;Initial Catalog=eGymDB;Integrated Security=False;User ID=Cantaros;Password=cantaros123" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ServicioEnClases-20150403211836;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ServicioEnClases-20150403211836.mdf" />-->

    <add name="eGymDB" connectionString="Data Source=cantaros.no-ip.info;Initial Catalog=eGymDB;Persist Security Info=True;User ID=Cantaros;Password=cantaros123"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
