<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.coneccion" connectionString="Data Source=(local);Initial Catalog=eGymDB;Persist Security Info=True;User ID=Cantaros;Password=cantaros123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>